<div class="message" id="message-<%= message.id %>">
  <% unless current_user.id == message.user.id %>
  <div class="card_summary d-flex my-4">
    <div class="profile_main mx-2">
      <div class="prifile_img">
        <% if message.user.user_image? %>
          <img src='<%= message.user.user_image %>' class="icon_image" alt="ユーザーアイコン" data-id="message-<%= message.id %>">
          <figcaption class="balloon-name-media">
            <p><%= message.user.user_name %></p>
          </figcaption>
        <% else %>
          <img src="/assets/profile.jpg" class="icon_image" alt="ユーザーアイコン" data-id="message-<%= message.id %>">
            <figcaption class="balloon-name-media">
              <p><%= message.user.user_name %></p>
            </figcaption>
        <% end %>
      </div>
      <div class="card message_profile profile_link profile-message-<%= message.id %>">
        <div class="card-body profile_body">
          <p class="card-text">よく使うアプリ：<%= message.user.user_app %></p>
          <p class="card-text">棋力：<%= message.user.user_chess %></p>
          <p class="card-text">よく対戦する持ち時間：<%= message.user.user_time %></p>
          <%= link_to "プロフィール", "/tops/#{message.user_id}", class:"card-link profile_btn" %>
          <%= link_to '個人用チャットルーム', rooms_create_private_room_path(:user_id => message.user_id), class: "card-link profile_btn", method: :post  %>
        </div>
      </div>
    </div>
      <div class="balloon-text-left">
        <%= simple_format(h message.message_content) %>
        <p><%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
      </div>
    </div>
  <% else %>
    <div class="balloon">
      <div class="balloon-text-right">
        <%= simple_format(h message.message_content) %>
        <p><%= l message.created_at, format: '%Y年%-m月%-d日(%a) %H:%M' %></p>
     </div>
    </div>
  <% end %>
</div>
