<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>
		<main class="col-md-10 px-4 ml-sm-auto header_next">
		  <div class="card_summary d-flex my-4">
			  <div class="prifile_img">
				  <% if @user.user_image? %>
				    <img src='<%= @user.user_image %>' class="icon_no_link" alt="ユーザーアイコン">
				    <figcaption class="balloon-name-description">
				  	  <p><%= @user.user_name %></p>
				    </figcaption>
				  <% else %>
				    <img src="/assets/profile.jpg" class="icon_no_link" alt="ユーザーアイコン">
					  <figcaption class="balloon-name-description">
						  <p><%= @user.user_name %></p>
					  </figcaption>
					<% end %>
				</div>
  			<div class="card mx-1">
  				<div class="card-header">
  					<h4><%= @user.user_name %></h4>
  				</div>
  				<div class="card-body">
  					<p>対戦したいアプリ：<%= @user.user_app %></p>
  					<p>棋力：<%= @user.user_chess %></p>
  					<p>持ち時間：<%= @user.user_time %></p>
  					<p>所在地：<%= @user.user_pref %></p>
  					<p>自己紹介</p>
  					<p class="card-text"><%= @user.user_content %></p>
  				</div>
			  </div>
      </div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">オンライン対戦</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">大会</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">コミュニティ開催</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <%= render "post_show" %>
          <%= paginate @posts %>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <%= render "tournament_show" %>
          <%= paginate @tournaments %>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <%= render "community_show" %>
          <%= paginate @communities %>
        </div>
      </div>

    </main>
  </div>
</div>
