<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>
		<main class="col-md-10 px-4 ml-sm-auto header_next">
			<% @messages.zip(@message_users) do |message, user| %>
				<a href="/rooms/<%="#{message.room_id}" %>" style="text-decoration:none;">
					<div class="mypage_message_body">
						<div class="mypage_message_title">
							<p class="mypage_message_text">部屋名：<%= message.room.room_name %></p>
							<p class="mypage_message_user">名前：<%= user.user_name %></p>
							<span style="float:right; padding-right:50px;"><%= l message.created_at, format: '%m月%-d日(%a) %H:%M' %></span>
						</div>
						<div class="mypage_message_content">
							<p class="mypage_message_text"><%= message.message_content %></p>
						</div>
					</div>
				</a>
				<p>---------------------------------------------------------------------------------------------------------</p>
			<% end %>
			<% @no_messages.zip(@no_message_users) do |room, user| %>
				<a href="/rooms/<%="#{room.id}" %>" style="text-decoration:none;">
					<div class="mypage_message_body">
						<div class="mypage_message_title">
							<p class="mypage_message_text">部屋名：<%= room.room_name %></p>
						</div>
						<p class="mypage_message_user">名前：<%= user.user_name %></p>
					</div>
				</a>
				<p>---------------------------------------------------------------------------------------------------------</p>
			<% end %>
    </main>
  </div>
</div>
