<div class="container">
  <div class="row">
    <div class="col-lg-9 order-lg-last header_next show_media">
      <div class="show_box_outer">
        <div class="post_box">
          <h4><%= @tournament.room.room_name %></h4>
          <% all_tags = @tournament.tournament_all_tag.split(",") %>
          <% all_tags.each do |all_tag| %>
            <span class="tag_text">#<%= all_tag %></span>
          <% end %>
          <p class="show_date">開催日時：<%= l @tournament.tournament_limit, format: '%-m月%-d日(%a)' %></p>
          <p class="show_date">応募期間：<%= l @tournament.tournament_date, format: '%-m月%-d日(%a) %H:%M' %></p>
          <p>対戦したいアプリ：<%= @tournament.tournament_app %></p>
          <p>棋力：<%= @tournament.tournament_chess %></p>
          <p>持ち時間：<%= @tournament.tournament_time %></p>
          <p>開催人数：<%= @tournament.tournament_number_of_people %></p>
          <p>募集内容</p>
          <p><%= @tournament.tournament_content %></p>
          <p class="post_date"><%= l @tournament.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
        </div>
      </div>
      <div class="post_message_link">
        <% if @tournament_users.where(user_id: current_user.id).present? %>
        <%= link_to 'チャットルームへ移動',"/rooms/#{@room.id}/tournament", class: "btn btn-primary buttonConfirm" %>
        <% else %>
        <%= link_to '大会に参加', tournaments_tournament_participation_path(:tournament => @tournament.id), class: "btn btn-primary buttonConfirm", method: :post %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 header_next">
      <p class="text-center">投稿者</p>
      <div class="prifile_img text-center">
        <% if @tournament.user.user_image? %>
          <img src='<%= @tournament.user.user_image %>' class="icon_no_link mb-4" alt="ユーザーアイコン">
            <p><%= @tournament.user.user_name %></p>
        <% else %>
          <img src="/assets/profile.jpg" class="icon_no_link mb-4" alt="ユーザーアイコン">
              <p><%= @tournament.user.user_name %></p>
        <% end %>
      </div>
      <div class="side_user_edit">
        <% if user_signed_in? && @tournament.user_id == current_user.id %>
  			  <%= link_to '編集',"/tournaments/#{@tournament.id}/edit", class: "btn-circle-3d" %>
        <% elsif @tournament_users.where(user_id: current_user.id).present? %>
        	<%= link_to '退出', tournaments_tournament_exit_path(:tournament => @tournament.id), class: "btn-circle-3d exit_color", method: :post, data: {confirm: "本当に抜けますか？"}  %>
        <% end %>
      </div>
      <p class="text-center">この大会に参加するユーザー</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">人数</th>
            <th scope="col">名前</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= user.user_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
