<ul class="nav flex-column">
  <div class="nav-link sidebar_top">
    <p class="sidebar_font">参加済みのイベント</p>
  </div>
  <% @community_messages.each do |message| %>
    <li class="nav-item message_bar">
      <%= link_to "/rooms/#{message.room_id}/community" do %>
        <div class="d-flex">
          <% if message.room.community.user.user_image? %>
            <img src='<%= message.room.community.user.user_image %>' class="header_image" alt="ユーザーアイコン">
          <% else %>
            <img src="/assets/profile.jpg" class="header_image" alt="ユーザーアイコン">
          <% end %>
          <div class="messagebar_message_right ml-4">
            <p class="mypage_message_user"><%= message.room.room_name %></p>
            <p class="mypage_message_text"><%= message.message_content %></p>
          </div>
        </div>
        <span class="messagebar_date"><%= l message.created_at, format: '%m月%-d日(%a) %H:%M' %></span>
      <% end %>
    </li>
	<% end %>
	<% @community_no_messages.each do |community| %>
    <li class="nav-item message_bar">
      <%= link_to "/rooms/#{community.room.id}/community" do %>
        <div class="d-flex">
          <% if community.user.user_image? %>
            <img src='<%= community.user.user_image %>' class="header_image" alt="ユーザーアイコン">
          <% else %>
            <img src="/assets/profile.jpg" class="header_image" alt="ユーザーアイコン">
          <% end %>
          <div class="messagebar_right ml-4">
            <p class="mypage_message_user"><%= community.room.room_name %></p>
          </div>
        </div>
			<% end %>
    </li>
  <% end %>
</ul>
