<nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
      <% @private_messages.zip(@message_users) do |message, user| %>
        <li class="nav-item message_bar">
  				<a href="/rooms/<%="#{message.room_id}" %>">
            <div class="d-flex">
              <% if user.user_image? %>
                <img src='<%= user.user_image %>' class="header_image" alt="ユーザーアイコン">
              <% else %>
                <img src="/assets/profile.jpg" class="header_image" alt="ユーザーアイコン">
              <% end %>
              <div class="messagebar_message_right ml-4">
                <p class="mypage_message_user"><%= user.user_name %></p>
                <p class="mypage_message_text"><%= message.message_content %></p>
              </div>
            </div>
            <span class="messagebar_date"><%= l message.created_at, format: '%m月%-d日(%a) %H:%M' %></span>
          </a>
        </li>
  		<% end %>
  		<% @no_messages.zip(@no_message_users) do |room, user| %>
        <li class="nav-item message_bar">
  				<a href="/rooms/<%="#{room.id}" %>">
            <div class="d-flex">
              <% if user.user_image? %>
                <img src='<%= user.user_image %>' class="header_image" alt="ユーザーアイコン">
              <% else %>
                <img src="/assets/profile.jpg" class="header_image" alt="ユーザーアイコン">
              <% end %>
              <div class="messagebar_right ml-4">
                <p class="mypage_message_user"><%= user.user_name %></p>
              </div>
            </div>
  				</a>
        </li>
  		<% end %>
    </ul>
</nav>
