<div class="container-fluid">
  <div class="row">
    <nav class="col-lg-3 d-none d-lg-block sidebar">
      <%= render 'private_message_bar' %>
    </nav>
		<main class="col-lg-9 ml-auto room_header">
      <%= link_to rooms_private_message_path, class:"d-block d-lg-none" do %>
        <div class="nav-link room_top">
          <p class="room_top_font"><span><i class="fas fa-chevron-left Back_btn"></i></span><span class="px-4"><i class="fas fa-comments"></i></span><%= user_search %></p>
        </div>
      <% end %>
      <div class="nav-link room_top d-none d-lg-block">
        <p class="room_top_font"><span class="px-4"><i class="fas fa-comments"></i></span><%= user_search %></p>
      </div>
      <div id="message-container">
        <div id='messages' data-room_id="<%= @room.id %>">
          <%= render @messages %>
        </div>
      </div>
      <%= render 'footer' %>
    </main>
  </div>
</div>
