<div class="container-fluid">
  <div class="row">
    <% if @room.private_id.present? %>
      <nav class="col-md-3 d-none d-md-block sidebar">
        <%= render 'message_bar' %>
      </nav>
    <% elsif @room.tournament_id.present? %>
      <nav class="col-md-3 d-none d-md-block sidebar">
        <%= render 'tournament_message_bar' %>
      </nav>
    <% elsif @room.community_id.present? %>
      <nav class="col-md-3 d-none d-md-block sidebar">
        <%= render 'community_message_bar' %>
      </nav>
    <% else %>
      <nav class="col-md-3 d-none d-md-block sidebar">
        <%= render 'post_message_bar'%>
      </nav>
    <% end %>
		<main class="col-md-9 ml-sm-auto room_header">
      <% if @room.private_id.present? %>
        <%= link_to rooms_private_message_path do %>
          <div class="nav-link room_top">
            <p class="room_top_font"><span><i class="fas fa-comments"></i></span>チャットルーム</p>
          </div>
        <% end %>
      <% elsif @room.tournament_id.present? %>
        <%= link_to rooms_participating_tournament_path do %>
          <div class="nav-link room_top">
            <p class="room_top_font"><span><i class="fas fa-chess"></i><span>参加済みの大会</p>
          </div>
        <% end %>
      <% elsif @room.community_id.present? %>
        <%= link_to rooms_participating_community_path do %>
          <div class="nav-link room_top">
            <p class="room_top_font"><span><i class="fas fa-users"></i><span>参加済みのイベント</p>
          </div>
        <% end %>
      <% else %>
        <%= link_to rooms_participating_post_path do %>
          <div class="nav-link room_top">
            <p class="room_top_font"><span><i class="fas fa-globe-asia"></i><span>参加済みの対戦</p>
          </div>
        <% end %>
      <% end %>
      <div id="message-container">
        <div id='messages' data-room_id="<%= @room.id %>">
          <%= render @messages %>
        </div>
      </div>
      <%= render 'footer' %>
    </main>
  </div>
</div>
