<% @posts.each do |post| %>
  <div class="card_summary d-lg-flex my-4 d-block">
    <div class="profile_main mx-2">
      <div class="profile_img">
        <% if post.user.user_image? %>
          <img src='<%= post.user.user_image %>' class="icon_image" alt="ユーザーアイコン" data-id="post-<%= post.id %>">
          <figcaption class="balloon-name-description">
            <p><%= post.user.user_name %></p>
          </figcaption>
        <% else %>
          <img src="/assets/profile.jpg" class="icon_image" alt="ユーザーアイコン" data-id="post-<%= post.id %>">
            <figcaption class="balloon-name-description">
              <p><%= post.user.user_name %></p>
            </figcaption>
        <% end %>
      </div>
      <div class="card profile_link profile-post-<%= post.id %>">
        <div class="card-body profile_body">
          <p class="card-text">よく使うアプリ：<%= post.user.user_app %></p>
          <p class="card-text">棋力：<%= post.user.user_chess %></p>
          <p class="card-text">よく対戦する持ち時間：<%= post.user.user_time %></p>
          <% unless post.user == current_user %>
            <%= link_to "プロフィール", "/tops/#{post.user_id}", class:"card-link profile_btn" %>
            <%= link_to '個人用チャットルーム', rooms_create_private_room_path(:user_id => post.user_id), class: "card-link profile_btn", method: :post  %>
          <% end %>
        </div>
        </div>
    </div>
    <div class="post_box_outer">
      <%= link_to "/posts/#{post.id}", class: "post-#{post.id}" do %>
        <div class="post_box">
          <h4><%= post.room.room_name %></h4>
          <% all_tags = post.post_all_tag.split(",") %>
          <% all_tags.each do |all_tag| %>
            <span class="tag_text">#<%= all_tag %></span>
          <% end %>
          <p>対戦したいアプリ：<%= post.post_app %></p>
          <p>棋力：<%= post.post_chess %></p>
          <p>持ち時間：<%= post.post_time %></p>
          <p>募集内容</p>
          <p><%= post.post_content %></p>
          <p class="post_date"><%= l post.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
