<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>
    <main class="col-md-10 px-4 ml-sm-auto header_next">
			<div class="card_summary d-flex my-4">
				<div class="prifile_img">
					<% if @post.user.user_image? %>
						<img src='<%= @post.user.user_image %>' class="icon_no_link" alt="ユーザーアイコン">
						<figcaption class="balloon-name-description">
							<p><%= @post.user.user_name %></p>
						</figcaption>
					<% else %>
						<img src="/assets/profile.jpg" class="icon_no_link" alt="ユーザーアイコン">
							<figcaption class="balloon-name-description">
								<p><%= @post.user.user_name %></p>
							</figcaption>
					<% end %>
				</div>
				<div class="card mx-1">
					<div class="card-header">
						<h4><%= @post.room.room_name %></h4>
					</div>
					<div class="card-body">
						<p>対戦したいアプリ：<%= @post.post_app %></p>
						<p>棋力：<%= @post.post_chess %></p>
						<p>持ち時間：<%= @post.post_time %></p>
						<p>募集内容</p>
						<p class="card-text"><%= @post.post_content %></p>
						<span>#<%= @post.post_all_tag %></span>
						<p><%= l @post.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
					</div>
				</div>
			</div>
			<div class="post_message_link">
				<%= link_to 'チャットルーム',"/rooms/#{@room.id}", class: "btn-circle-3d mx-4", style:"text-decoration: none;" %>
				<% if user_signed_in? %>
					<% if @post.user_id == current_user.id %>
						<%= link_to '編集',"/posts/#{@post.id}/edit", class: "btn-circle-3d", style:"text-decoration:none; background:#FF3366;" %>
				  <% end %>
			  <% end %>
			</div>
      <%= render "post_show" %>
			<%= paginate @posts %>
		</main>
	</div>
</div>
