<div class="container">
  <div class="row">
    <div class="col-lg-9 order-lg-last header_next show_media">
      <div class="show_box_outer">
        <div class="post_box">
          <h4><%= @post.room.room_name %></h4>
          <% all_tags = @post.post_all_tag.split(",") %>
          <% all_tags.each do |all_tag| %>
            <span class="tag_text">#<%= all_tag %></span>
          <% end %>
          <p>対戦したいアプリ：<%= @post.post_app %></p>
          <p>棋力：<%= @post.post_chess %></p>
          <p>持ち時間：<%= @post.post_time %></p>
          <p>募集内容</p>
          <p><%= @post.post_content %></p>
          <p class="post_date"><%= l @post.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
        </div>
      </div>
      <div class="post_message_link">
        <%= link_to 'チャットルームへ移動',"/rooms/#{@room.id}/post", class: "btn btn-primary buttonConfirm" %>
      </div>
    </div>
    <div class="col-lg-3 header_next">
      <p class="text-center">投稿者</p>
      <div class="prifile_img text-center">
        <img src='<%= @post.user.user_image %>' class="icon_no_link mb-4" alt="ユーザーアイコン">
        <p><%= @post.user.user_name %></p>
      </div>
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <div class="side_user_edit">
          <%= link_to '編集',"/posts/#{@post.id}/edit", class: "btn-circle-3d" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
