<header>
  <div class="header_body">
    <div class="headet-icon">
      <%= link_to root_path do %>
        <img src="/img/logo.jpg" alt="ノシ将棋" class="logo">
      <% end %>
    </div>
    <div class="header_mypage d-flex">
      <div class="dropdown header_icon">
        <a href="#" id="DropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-edit fa-2x mx-4"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="DropdownMenuLink">
          <%= link_to "オンライン対戦", new_post_path, class:"dropdown-item" %>
          <%= link_to "大会開催", new_tournament_path, class:"dropdown-item" %>
          <%= link_to "イベント開催", new_community_path, class:"dropdown-item" %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= link_to "/tops/#{current_user.id}" do %>
          <% if current_user.user_image? %>
            <img src='<%= current_user.user_image %>' class="header_image" alt="ユーザーアイコン">
          <% else %>
            <img src="/assets/profile.jpg" class="header_image" alt="ユーザーアイコン">
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "mx-4" %>
        <%= link_to "ログイン", new_user_session_path, class: "mx-4"  %>
      <% end %>
    </div>
  </div>
</header>
