<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to 'ノシ将棋', "/", class:"nav-link top_icon" %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to 'ホーム', "/", class:"nav-link" %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "チャットルーム", tops_private_message_path, class:'nav-link'%>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "コメントしたオンライン対戦", tops_participating_post_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "参加している大会", tops_participating_tournament_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "参加しているコミュニティー", tops_participating_community_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
          <%= link_to "オンライン対戦投稿", new_post_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "大会投稿", new_tournament_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <span data-feather="home"></span>
        <%= link_to "コミュニティ開催", new_community_path, class:'nav-link' %>
      </li>
    </ul>
</nav>
