<% @communities.each do |community| %>
  <% if community_number_of_people_limit(community) %>
    <div class="card_summary d-lg-flex my-4 d-block">
      <div class="profile_main mx-2">
        <div class="profile_img">
          <% if community.user.user_image? %>
            <img src='<%= community.user.user_image %>' class="icon_image" alt="ユーザーアイコン" data-id="community-<%= community.id %>">
            <figcaption class="balloon-name-description">
              <p><%= community.user.user_name %></p>
            </figcaption>
          <% else %>
            <img src="/img/profile.jpg" class="icon_image" alt="ユーザーアイコン" data-id="community-<%= community.id %>">
              <figcaption class="balloon-name-description">
                <p><%= community.user.user_name %></p>
              </figcaption>
          <% end %>
        </div>
        <div class="card profile_link profile-community-<%= community.id %>">
          <div class="card-body profile_body">
            <p class="card-text">よく使うアプリ：<%= community.user.user_app %></p>
            <p class="card-text">棋力：<%= community.user.user_chess %></p>
            <p class="card-text">よく対戦する持ち時間：<%= community.user.user_time %></p>
            <% unless community.user == current_user %>
              <%= link_to "プロフィール", "/tops/#{community.user_id}", class:"card-link profile_btn" %>
              <%= link_to '個人用チャットルーム', rooms_create_private_room_path(:user_id => community.user_id), class: "card-link profile_btn", method: :post  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="post_box_outer">
        <%= link_to "/communities/#{community.id}", data: {"turbolinks" => false}, class: "community-#{community.id}"  do %>
          <div class="post_box">
            <h4><%= community.room.room_name %></h4>
            <% all_tags = community.community_all_tag.split(",") %>
            <% all_tags.each do |all_tag| %>
              <span class="tag_text">#<%= all_tag %></span>
            <% end %>
            <p class="community_date">開催日時：<%= l community.community_limit, format: '%-m月%-d日(%a)' %></p>
            <p>応募期間：<%= l community.community_date, format: '%-m月%-d日(%a)' %>まで</p>
            <% if community.community_number_of_people? %>
              <p>応募人数：<%= community.community_number_of_people %>人</p>
            <% end %>
            <p>開催場所：<%= community.community_place %></p>
            <p>参加費：<%= number_to_currency(community.community_money, :locale => 'jp') %></p>
            <p>募集内容</p>
            <p class="card-text"><%= community.community_content %></p>
            <p class="post_date"><%= l community.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
