<div class="col-lg-3 search_sidebar order-2">
  <h2 class="sidebar_heading d-none d-lg-block">キーワード検索</h2>
  <%= search_form_for @q, url: communities_search_community_path, class:"w-75 d-inline center-block" do |f| %>
    <%= f.label :community_date, '開催日時', class:"date_form_title" %></br>
    <div class="date_form_group">
      <%= f.date_field :community_date_start, value: Date.today, class: "form-control date_form" %><span class="date_form_span">〜</span>
      <%= f.date_field :community_date_end, value: Date.today >> 3, class: "form-control date_form" %>
    </div>
    <%= f.search_field :community_place_or_community_all_tag_cont, class: 'tagsinput tags_search', id: "tags_search" %>
    <%= f.submit '検索する', class:"btn buttonguest btn-warning"  %>
  <% end %>
</div>
