<div class="container">
  <div class="row">
    <div class="col-md-9 order-md-last header_next show_media">
      <div class="show_box_outer">
        <div class="post_box">
          <h4><%= @community.room.room_name %></h4>
          <% all_tags = @community.community_all_tag.split(",") %>
          <% all_tags.each do |all_tag| %>
            <span class="tag_text">#<%= all_tag %></span>
          <% end %>
          <p class="show_date">開催日時：<%= l @community.community_limit, format: '%-m月%-d日(%a)' %></p>
          <p class="show_date">応募期間：<%= l @community.community_date, format: '%-m月%-d日(%a)' %></p>
          <p>開催場所：<%= @community.community_place %></p>
          <p>参加費：<%= @community.community_money %></p>
          <p>募集内容</p>
          <p><%= @community.community_content %></p>
          <h5 class="text-center">地図</h5>
          <div id='map' class="show_map"></div>
          <p class="post_date"><%= l @community.created_at, format: '%-m月%-d日(%a) %H:%M' %></p>
        </div>
      </div>
      <div class="post_message_link">
        <% if @community_users.where(user_id: current_user.id).present? %>
        <%= link_to 'チャットルームへ移動',"/rooms/#{@room.id}/community", class: "btn btn-primary buttonConfirm" %>
        <% else %>
        <%= link_to 'イベントに参加', communities_community_participation_path(:community => @community.id), class: "btn btn-primary buttonConfirm", method: :post %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 header_next">
      <p class="text-center">投稿者</p>
      <div class="prifile_img text-center">
        <% if @community.user.user_image? %>
          <img src='<%= @community.user.user_image %>' class="icon_no_link mb-4" alt="ユーザーアイコン">
            <p><%= @community.user.user_name %></p>
        <% else %>
          <img src="/assets/profile.jpg" class="icon_no_link mb-4" alt="ユーザーアイコン">
              <p><%= @community.user.user_name %></p>
        <% end %>
      </div>
      <% if user_signed_in? && @community.user_id == current_user.id %>
      <div class="side_user_edit">
        <%= link_to '編集',"/communities/#{@community.id}/edit", class: "btn-circle-3d", style:"background:#FF3366;" %>
      </div>
      <% end %>
      <p class="text-center">この大会に参加するユーザー</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">人数</th>
            <th scope="col">名前</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= user.user_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<nav class="nav nav-pills nav-justified footer_menu_body d-md-none">
  <a class="nav-item nav-link" href="/posts">
    <i class="fas fa-list"></i>
    <figcaption class="footer_munu_font">
      <p>投稿一覧</p>
    </figcaption>
  </a>
  <a class="nav-item nav-link" href="/rooms/private_message">
    <i class="fas fa-comments"></i>
    <figcaption class="footer_munu_font">
      <p>チャット</p>
    </figcaption>
  </a>
  <a class="nav-item nav-link" href="/rooms/participating_post">
    <i class="fas fa-globe-asia"></i>
    <figcaption class="footer_munu_font">
      <p>対戦相手</p>
    </figcaption>
  </a>
  <a class="nav-item nav-link" href="/rooms/participating_tournament">
    <i class="fas fa-chess"></i>
    <figcaption class="footer_munu_font">
      <p>大会</p>
    </figcaption>
  </a>
  <a class="nav-item nav-link" href="/rooms/participating_community">
    <i class="fas fa-users"></i>
    <figcaption class="footer_munu_font">
      <p>イベント</p>
    </figcaption>
  </a>
</nav>

<%= javascript_pack_tag 'maps_show' %>
